.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
    .modal-content {
        position: relative;
        background: #000;
        border-radius: 8px;
        width: 90%;
        max-width: 600px;

        .button-container {
            width: 100%;
            display: flex;
            justify-content: end;
            padding: 0.5rem 0.4rem 0rem 0rem;
            
            .close-button {
                width: 1.5em;
                height: 1.5em;

                &:hover {
                    cursor: pointer;
                    opacity: 0.75;
                }
            }
        }

        .youtube-video {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
            padding: 0rem 2rem 1.5rem 2rem;
        }
    }
}

@include break('s') {
    .modal-overlay {
        .modal-content {
            width: 95%;
        }
    }
}

@include break('xs') {
    .modal-overlay {
        .modal-content {
            width: 100%;
        }
    }
}